<mat-toolbar color="primary">
    <span>
      <a routerLink="/">My Tasks</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li  *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Task</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
      <!-- *ngIf="!userIsAuthenticated"></li>-->
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated" >
        <a mat-button routerLink="/auth//signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </mat-toolbar>
  <!--RouterLinkActive:Tracks whether the linked route of an element is currently active, and allows you to
     specify one or more CSS classes to add to the element when the linked route is active.-->
     <!--RouterLink:directive-When applied to an element in a template, makes that element a link 
      that initiates navigation to a route.-->